@import "../styles/variables";

#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

aside {
    flex: 7;
    background: var(--first);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px;

    img {
        max-width: 320px;
    }

    strong {
        font: 700 36px "Poppins", sans-serif;
        line-height: 42px;
        margin-top: 16px;
        color: var(--light);
    }

    p {
        font-size: 24px;
        line-height: 32px;
        margin-top: 16px;
        color: var(--light);
    }
}

.main-auth {
    flex: 8;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    .switch {
        position: absolute;
        top: 15px;
        right: 15px;
        align-content: space-between;        
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
        align-items: center;
    }

    h2 {
        font-size: 24px;
        margin: 64px 0 24px;
        font-family: "Poppins", sans-serif;
    }

    form {
        input {
            height: 50px;
            border-radius: 8px;
            padding: 0 16px;
            background: var(--light);
            border: 1px solid var(--featured-darker);
        }

        button {
            margin-top: 16px;
        }

        button,
        input {
            width: 100%;
        }
    }

    .account {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        gap: 20px;
        padding-top: 40px;

        .account-avatar {
            > img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
            }
        }
        .account-name {
            p {
                text-align: center;
            }
        }
    }
}

.create-room {
    margin-top: 64px;
    height: 58px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    transition: filter 0.2s;

    img {
        margin-right: 8px;
    }

    &:hover {
        filter: brightness(0.9);
    }
}

.separator {
    font-size: 14px;
    color: var(--featured-darker);
    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        flex: 1;
        height: 1px;
        background-color: var(--featured-darker);
        margin-right: 16px;
    }
    &::after {
        content: "";
        flex: 1;
        height: 1px;
        background-color: var(--featured-darker);
        margin-left: 16px;
    }
}
